body{
    text-align: center;
}
#box{
    height: 150px;
    width: 140px;
    margin:100px auto;
    background-color: gold;
    
}
#h{
    font-size: xx-large;
    text-align: center;
}
#box:hover{
    transform: scale(1.1);
    
}
